@import url("https://fonts.googleapis.com/css2?family=Corben&display=swap");

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: rgb(158, 165, 126);
}

a {
  color: #6c747c;
}

textarea::-webkit-scrollbar {
  display: none;
}